body{
    background-color: antiquewhite;
  }
  #flex{
    display: flex;
   
    
  }
  .img{
   
    background-color: orange;
    border-radius: 25px;
  }
  .header{
      border-left: 2px solid; 
        padding: 20px;
  } 
  .tag{width:50%;
      border-left: 50px ;
        padding: 20px;
        border-top: 20px;
        border-bottom: 50px;
        padding-left: 9%;
        padding-top: 10%;
      font-family: sans-serif;
       }
        
  .tag2{width:70%;
        border-left: 200px ;
        padding: 20px;
      font-family: sans-serif;}
            
  
  .form{
   
      width:50%;
      border-left: 2px solid #333;
        padding: 20px;
  }
  *{
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
  }
  .row{
      display: flex;
      margin-right: 50px;
  }
  #apparel{
    display:flex;
  }
  